#root {
  width: 100%;
  padding: 0;
}

header{
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: space-between;
  padding-top: 1rem;
  margin-left: 3.5rem;
  margin-right: 3.5rem;
  img{
    width: 15rem;
  }
  nav{
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    li{
      margin-left: 2rem;
      list-style-type: none;
    }

    a{
      font-size: 1.5rem;
      text-decoration: none;
      color: black;
    }

    .active{
      text-decoration: underline;
    }
  }
}

.backgroundContainer {
  position: relative;
  height: 13rem;
  overflow: hidden;
  display: flex;
  justify-content: center; 
  align-items: center;
  margin: 1.5rem;
  margin-left: 3.5rem;
  margin-right: 3.5rem;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  img{
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: -10;
  }
  h1{
    position: absolute;
    font-size: 3.5rem;
    color: white; 
    z-index: 10;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
    text-shadow:
        -1px -1px 0 black,  
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;
  }
}

.gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #F6F6F6;
  margin: 3.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 2rem;
  border-radius: 1rem;
}

.locationCard-link{
  text-decoration: none;
}

.locationCard{
  display: flex;
  width: 21rem;
  height: 21rem;
  background: linear-gradient(to bottom, #FF6060 100%, #FFFFFF 50%);
  margin: 2rem;
  border-radius: 1rem;

  h2{
    font-size: 1rem;
    height: 2rem;
    align-self: flex-end;
    color: white;
    max-width: 60%;
    margin-left: 0.8rem;
    padding-bottom: 3rem;
  }
}

.location{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carrousel{
  display: flex;
  align-self: center;
  position: relative;
  justify-content: center;
  box-sizing: border-box;
  width: calc(100% - 7rem);  
  margin-top: 2rem;

  #buttonPrev, #buttonNext {
    width: 8rem;
    position: absolute;
    align-self: center;
    cursor: pointer;
  }

  #buttonPrev{
    transform: rotate(90deg);
    left: 0;
  }

  #buttonNext{
    transform: rotate(270deg);
    right: 0;
  }

  div{
    height: 26rem;
    overflow: hidden;
    display: flex;
    width: 100%;
    img{
      align-self: center;
      width: 100%;
    }
  }

  span{
    position: absolute;
    align-self: flex-end;
    margin-bottom: 2rem;
    color: white;
    font-size: 1.2rem;
  }

}

.infos-container{
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  justify-content: space-between;
  margin-left: 3.5rem;
  margin-right: 3.5rem;

  h1{
    margin: 0;
    color: #FF6060;
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .title-and-tags{
    display: flex;
    flex-direction: column;

    .localisation{
      margin-top: 1rem;
      font-size: 1.3rem;
    }
  }

}

.tags-list{
  margin-top: auto;
  padding-bottom: 0.5rem;  

  span{
    margin-right: 1rem;
    color: white;
    padding: 0.2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: #FF6060;
    border-radius: 1rem;
  }
}

.profile-and-rating{
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  padding-top: 0.5rem;

  .profile{
    display: flex;
    flex-direction: row;
    align-self: flex-end;

    .host-name{
      margin-right: 1rem;
      padding-top: 1rem;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      span{
        color: #FF6060;
        text-align: end;
      }
    }

    
  }  
  

  img{
    border-radius: 50%;
    max-width: 5rem;
    align-self: flex-end;
  }

  .star {

    width: 2rem;
    margin-left: 1rem; 
  }
  

}

.location-folding{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 3.5rem;
  margin-right: 3.5rem;
  margin-bottom: 2rem;

  div{
    width: 45%;
    padding-right: 1rem;
  }
}


.about{
  display: flex;
  flex-direction: column;
}

.drop-down-container{
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  align-self: center;
  margin-bottom: 2rem;
}

.folding-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;

  .menu-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background: linear-gradient(to bottom, #FF6060 100%, #FFFFFF 50%);
    padding: 0.5rem;
    border-radius: 0.3rem;  
    
    span{
      color: white;
      font-size: 1.6rem;
      font-weight: bold;
    }

    img{
      max-width: 2.5rem;
      cursor: pointer;
      transition: transform 0.3s ease;
    }
  }

  .menu-content {
    width: 100%;
    transform: translateY(-100%); /* Déplace le contenu vers le haut pour le cacher initialement */
    transition: transform 0.3s ease, height 0.3s ease; /* Transition pour un effet de glissement */
    padding: 0.5rem;
    z-index: -10;
    height: 0;
    overflow: hidden;
    background-color: #F6F6F6;
    border-radius: 0 0 0.3rem 0.3rem;

    p{
      margin-top: 0;
      display: flex;
      flex-direction: column;
      padding: 0.2rem;
    }
  }

  &.expanded {
    .menu-content {
      height: 100%;
      transform: translateY(0);
    }

    .menu-header{
      img{
        transform: rotate(180deg);
      }
    }
  }
}

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  height: 7rem;
  padding: 2rem;

  img{
    max-width: 8rem;
    margin-bottom: 1rem;
  }

  p{
    color: white;
  }

}

.error-page{
  display: flex;
  flex-direction: column;

  h1{
    align-self: center;
    font-size: 15rem;
    margin: 1rem;
    color: #FF6060;
  }

  .error-message{
    align-self: center;
    font-size: 2rem;
    color: #FF6060;
  }

  a{
    align-self: center;
    color: black;
    margin: 4rem;
    margin-bottom: 6rem;
  }
}

@media only screen and (max-width: 900px) {
  /* Styles à appliquer pour les tablettes */

  .backgroundContainer{
    h1{
      font-size: 2.7rem;
      margin-left: 1rem;
    }
  }

  .error-page{
    h1{
      font-size: 10rem;
      margin: 1rem;
    }
    .error-message{
      font-size: 1.5rem;
    }
  }
}

@media only screen and (max-width: 767px) {
  /* Styles à appliquer pour les appareils mobiles */

  header{

    margin-left: 1rem;
    margin-right: 1rem;

    img{
      width: 8rem;
    }
    li{
      margin-left: 1rem;
      a{
        font-size: 1rem;
      }
    }
    

  }

  .backgroundContainer{
    height: 7rem;
    justify-content: left;
    margin-left: 1rem;
    margin-right: 1rem;
    h1{
      font-size: 1.2rem;
      max-width: 12rem;
      margin-left: 1rem;
    }
  }

  .gallery{
    margin: 1rem;
    margin-top: 0;
    padding: 0;
    background-color: white;
  }

  .locationCard{
    height: 14rem;
    width: 18rem;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1rem;
    margin-bottom: 0;

    h2{
      max-width: 62%;
      padding-bottom: 3.2rem;
    }
  }

  .carrousel{

    width: calc(100% - 2rem);    
    div{
      height: 13rem;

      img{
        width: 100%;
        height: auto;
      }
    }

    #buttonPrev, #buttonNext{
      width: 4rem;
    }
    
  }

  .infos-container{
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;

    h1{
      font-size: 1.6rem;
    }
  }

  .tags-list{
    display: flex;
    flex-wrap: wrap;
    span{
      margin-top: 0.5rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      border-radius: 0.4rem;
    }
  }

  .profile-and-rating{
    flex-direction: row-reverse;
    width: 100%;
    box-sizing: border-box;
    align-self: flex-start;
    justify-content: space-between;

    .rating{
      display: flex;
      align-items: center;
      justify-self: flex-start;
    }

    .star{
      width: 1.5rem;
      margin-left: 0.7rem;
    }

    .profile{
      align-items: center;
      .host-name{
        padding-top: 0;
      }
    }

    .host-img{
      display: flex;
      align-items: center;
      img{
        width: 2.7rem;
      }
    }

  }

  .location-folding{
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    div{
      width: calc(100% - 1rem);
      padding: 0;
      margin: 0;
    }
  }

  .folding-menu{
    .menu-header{
      span{
        font-size: 1.2rem;
      }
    }
  }
  
}
