#root {
  max-width: 1280px;
  padding: 2rem;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  nav{
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    li{
      margin: 2rem;
    }
  }
}

footer{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: black;

  img{
    max-width: 10rem;
  }

  p{
    color: white;
  }

}
